/*---------------
    RESET
---------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*---------------
    DEBUG
---------------*/
/* --- header --- */
.debug header{
    background-color: lightblue;
}
.debug .header-top {
    background-color: yellowgreen;
}
.debug .header-bot {
    background-color: darkblue;
    height: 500px;
}
.debug .hero {
    background-color: pink;
    height: 300px;
    width: 60%;
}
/* --- main --- */
.debug main > section {
    height: 280px;
}
.debug .col-big {
    background-color: aqua;
    height: 200px;
}
.debug .col-small {
    background-color: salmon;
}
.debug main > section:last-child {
    height: 560px;
}
.debug .big-hero {
    background-color: green;
    height: 480px;
}
/* --- footer --- */
.debug footer {
    background-color: #23272a;
}
.debug .footer-top {
    height: 280px;
}
.debug .footer-bot {
    height: 100px;
}
.debug .col-big-footer {
    background-color: orchid;
    height: 240px;
}
.debug .col-small-footer {
    background-color: cyan;
    height: 240px;
    border-left: 1px dotted black;
}
.debug .footer-bot .row {
    background-color: aquamarine;
}
.debug .footer-bot .row div{
    background-color: pink;
}
/*---------------
    COMMON
---------------*/
.container {
    max-width: 1200px;
    margin: auto;
}
.row {
    display: flex;
}
h1, h2 {
    line-height: 45px;
    margin-bottom: 40px;
}
p {
    line-height: 30px;
}
ul {    
    list-style: none;
}
/*---------------
    BUTTONS
---------------*/
button {
    border-radius: 100px;
    border: none;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
}
.black-btn {
    background-color: #23272a;
}
.blue-btn {
    background-color: #7289da;
}
.big-btn {
    padding: 12px 17px;
}
button i {
    padding-right: 4px;
}
/*---------------
    HEADER
---------------*/
header {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 572px;
    width: 100%;
    padding: 10px 0;
}
/* header-top */
.header-top {
    padding: 5px;
    margin-bottom: 100px;
    align-items: center;
}
.logo, .login {
    width: 25%;    
}
.logo {
    height: 40px;
}
.login {
    padding-right: 100px;
}
.header-top ul {
    width: 50%;
    justify-content: center;
    align-items: center;
}
.header-top li {
    margin: 0 30px;
}
.header-top ul li a {
    text-decoration: none;
    color: inherit;
}
.header-top .login {
    text-align: right;
}
/* header-bot */
.header-bot {
    justify-content: center;
    align-items: center;
}
.hero {
    margin: 40px auto;
    max-width: 50%;
    text-align: center;
}
.hero button {
    margin: 20px 10px;
}
/*---------------
    MAIN
---------------*/
main section {
    padding: 75px 0;
}
main > section:nth-of-type(2n) {
    background-color: #f5f5f5;
}
/* onde tra le sezioni */
.wav-a { /*grazie stack overflow*/
    filter: invert(100%) sepia(0%) saturate(1691%) hue-rotate(74deg) brightness(119%) contrast(92%);
    display: block;
}
.inverted-wav{
    rotate: 180deg;
}
/* formattazione colonne */
.col-big {
    width: 60%;
}
.col-big * {
    width: 100%
}
.col-small {
    width: 40%;
    padding-top: 35px;
}
main section:last-child{
    text-align: center;
}
.big-hero {
    width: 100%;
}
h1.container {
    margin-bottom: 40px;
}
.stars {
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 40px;
    margin-bottom: 40px;
}
/*---------------
    FOOTER
---------------*/
/* footer-top */
footer {
    background-color: #23272a;
    padding-top: 60px;
}
.col-big-footer {
    width: 35%;
}
.col-small-footer {
    width: calc(65% / 4);
}
/* formatting list items */
.footer-top ul li:first-child{
    color: #7289da;
}
footer li, li h2 {
    margin-bottom: 20px;

}
li > * {
    vertical-align: middle;
}
/* formatting imgs/brand logos */
li img {
    height: 16px;
}
.fa-brands {
    padding: 0 10px;
}
.fa-brands:first-of-type {
    padding-left: 0;
}
/* footer-bot */
.footer-bot > div {
    border-top: 2px solid #7289da;
}
.footer-bot {
    padding-top: 25px;
}
.footer-bot .row {
    justify-content: space-between;
    padding: 14px 0;
}
.footer-bot .row div {
    padding: 5px;
}
/*---------------
    TYPOGRAPHY
---------------*/
body {
    font-family: 'Roboto', sans-serif;
}
header, footer, .black-btn, .blue-btn {
    color: white;
}
h1, h2{
    font-size: 45px;
}
main, .header-bot, .big-btn {
    font-size: 20px;
}
li h2{
    font-size: 30px;
    font-weight: 700;
}
.stars {
    font-size: 28px;
    font-weight: 700;
}
